@model CarnetSanitaire.Web.UI.Models.Diagnostique

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Diagnostique</h4>
    <hr />
    <dl class="row col-md-8">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Diagnostique_Realise)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Diagnostique_Realise)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Diagnostique_Date)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Diagnostique_Date)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Diagnostique_Intervenant)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Diagnostique_Intervenant)
        </dd>
    </dl>
</div>
<div class="row col-md-8">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary col-12 col-md-6">Edit</a>
    <a asp-action="Index" class="btn btn-outline-danger col-12 col-md-6">Retour</a>
</div>
