@model CarnetSanitaire.Web.UI.Models.Diagnostique

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Diagnostique</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostique_Realise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostique_Realise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostique_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostique_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostique_Intervenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostique_Intervenant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
