@model IEnumerable<CarnetSanitaire.Web.UI.Models.Diagnostique>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des Diagnostique</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostique_Realise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostique_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostique_Intervenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostique_Realise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostique_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostique_Intervenant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="px-2"><i class="far fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="px-2"><i class="fas fa-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row col-12">
    <a asp-action="Create" class="btn btn-outline-success col-12">Nouveau Diag.</a>
</div>
