@model IEnumerable<CarnetSanitaire.Web.UI.Models.Societe>

@{
    ViewData["Title"] = "Index";
}

<h3>Sous-traitants</h3>

<p>
    <a asp-action="Create">Nouveau SousTraitant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                Employés
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @if (item.Personnels != null && item.Personnels.Count >0)
                {
                    <a asp-action="Index" asp-controller="Personnels" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Personnels.Count)</a>
                }
                else
                { 
                    <a asp-controller="Personnels" asp-action="Create" asp-route-id="@item.Id">Ajout une personne</a>
                }

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
